# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# Data cache
*.sqlite
*.db

# VSCode / JetBrains
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
